<div>
  <h1 class="contact-SOS">Vid livsfara kontakta genast 112!</h1>
  <h1>Hantera AKUT situation:</h1>
  <h2>Översvämning</h2>
  <div class="emergency-content">
    <h4>Översvämningar kan orsaka allvarliga skador och fara för liv. Här är några viktiga steg att följa:</h4>
    <ul>
      <li><b>Ring 112</b> för att rapportera översvämningen och få hjälp.</li>
      <li><b>Evakuera området</b> så snabbt som möjligt. Ta med dig alla i din närhet.</li>
      <li><b>Stäng av elektricitet</b> och gas om det är säkert att göra så.</li>
      <li><b>Flytta till högre mark</b> för att undvika att bli fast i vattnet.</li>
      <li><b>Undvik att köra genom översvämmade områden</b>, även om vattnet ser grunt ut.</li>
      <li><b>Håll dig informerad</b> genom radio eller TV för uppdateringar om situationen.</li>
      <li><b>Använd en båt eller flytväst</b> om du måste korsa översvämmade områden.</li>
      <li><b>Följ alltid instruktioner från räddningstjänsten.</b></li>
    </ul>
  </div>
  <p><i>Sidan uppdaterad: 2025-05-12</i></p>
</div>