<div>
  <h1 class="contact-SOS">Vid livsfara kontakta genast 112!</h1>
  <h1>Hantera AKUT situation:</h1>
  <h2>Storm</h2>
  <div class="emergency-content">
    <h4>Stormar kan orsaka allvarliga skador och fara för liv. Här är några viktiga steg att följa:</h4>
    <ul>
      <li><b>Ring 112</b> för att rapportera nödsituationer och få hjälp.</li>
      <li><b>Evakuera området</b> om det är nödvändigt och säkert att göra så.</li>
      <li><b>Stanna inomhus</b> och håll dig borta från fönster och dörrar.</li>
      <li><b>Säkerställ att du har tillgång till nödförnödenheter</b>, inklusive mat, vatten och mediciner.</li>
      <li><b>Håll dig informerad</b> genom radio eller TV för uppdateringar om stormens utveckling.</li>
      <li><b>Undvik att använda inkopplade elektriska apparater</b> under stormen för att minska risken för elchocker.</li>
      <li><b>Följ alltid instruktioner från räddningstjänsten.</b></li>
    </ul>
  </div>
  <div class="emergency-content">
    <h4>Om du är utomhus:</h4>
    <ul>
      <li><b>Sök skydd</b> i en byggnad eller ett fordon.</li>
      <li><b>Undvik att stå under träd</b> eller andra föremål som kan falla.</li>
      <li><b>Håll dig borta från vattenpölar</b> och översvämmade områden.</li>
      <li><b>Om du är i en bil</b>, stanna på en säker plats och håll dig inuti bilen.</li>
    </ul>
  </div>
  <div class="emergency-content">
    <h4>Efter stormen:</h4>
    <ul>
      <li><b>Kontrollera skador</b> på din egendom och rapportera eventuella faror.</li>
      <li><b>Var försiktig med nedfallna ledningar</b> och andra farliga föremål.</li>
      <li><b>Hjälp grannar</b> som kan behöva hjälp, särskilt äldre eller funktionshindrade personer.</li>
      <li><b>Följ alltid instruktioner från räddningstjänsten.</b></li>
    </ul>
  </div>
  <p><i>Sidan uppdaterad: 2025-05-12</i></p>
</div>