<div>
  <h1 class="contact-SOS">Vid livsfara kontakta genast 112!</h1>
  <h1>Hantera AKUT situation:</h1>
  <h2>Strömavbrott</h2>
  <div class="emergency-content">
    <h4>Strömavbrott kan orsaka allvarliga problem. Här är några viktiga steg att följa:</h4>
    <ul>
      <li><b>Kontrollera om strömavbrottet är lokalt</b> eller om det påverkar ett större område.</li>
      <li><b>Stäng av inkopplade elektriska apparater</b> för att förhindra skador när strömmen återkommer.</li>
      <li><b>Använd ficklampor</b> istället för levande ljus för att undvika brandrisk.</li>
      <li><b>Håll kylskåpet och frysen stängda</b> för att bevara maten så länge som möjligt.</li>
      <li><b>Håll dig informerad</b> genom radio eller mobiltelefon för uppdateringar om situationen.</li>
      <li><b>Undvik att använda inkopplade elektriska apparater</b> under strömavbrottet.</li>
      <li><b>Följ alltid instruktioner från räddningstjänsten.</b></li>
      <li><b>Ring 112</b> för att rapportera nödsituationer och få hjälp.</li>
    </ul>
  </div>
  <p><i>Sidan uppdaterad: 2025-05-12</i></p>
</div>