<div>
  <h1>Förbered dig på:</h1>
  <h2>Brand</h2>
  <div class="prepare-content">
    <h4>Bränder i hemmet kan få förödande konsekvenser, men många kan förebyggas.<br>
    Såhär kan du minska risken för brand i hemmet:</h4>
    <ul>
      <li><b>Minst en brandvarnare per våningsplan - gärna i varje rum!</b>
        <br>Kopplade brandvarnare ger extra trygghet - om en larmar, larmar alla.
        <br>Det finns system som även skickar varning till din mobil via t.ex. Home Assistant.
        <br>Glöm inte källare och förrådsutrymme!</li>
      <li><b>Ha minst en 6 kg pulverbrandsläckare hemma</b> (ABC-släckare).
        <br>Ha alltid en röd synlig och lättåtkomlig släckare centralt placerad. Undvik designade släckare som inte tydligt visar sin funktion och som smälter in i rummet.
        <br>Brandredskap ska vara tydliga - även för gäster eller grannar i en nödsituation.
        <br><b>Pulversläckare</b> är effektivast per kilo och fungerar på de flesta typer av bränder. De ska vara godkända enligt <b>SS-EN 3-7</b>.</li>
      <li><b>Rengör köksfläkten regelbundet.</b>
        <br>Fettbränder är svårsläckta och får aldrig släckas med vatten!
        <br>Använd lock eller brandsläckare, eller bakpulver/salt vid nödläge.</li>
      <li><b>Lämna aldrig levande ljus utan uppsikt.</b>
        <br>Använd stabilt, icke-brännbart underlag som fångar upp ljuset även om det välter.</li>
      <li><b>Kontrollera sladdar och elutrustning regelbundet.</b>
        <br>Skador kan orsaka kortslutningar.</li>
      <li><b>Se till att teknisk utrustning har god ventilation.</b>
        <br>Undvik att täcka över tv, datorer eller andra apparater eftersom många då lätt kan överhettas.</li>
      <li><b>Håll elektriska apparater rena.</b>
        <br>Se till så att det inte samlas damm och skräp bakom t.ex. vitvaror, tv eller tvättmaskin.</li>
      <li><b>Kör aldrig diskmaskin, tvättmaskin eller torktumlare när du inte är hemma.</b>
        <br>Om de börjar brinna går det oftast fort innan hela hemmet är övertänt om ingen är hemma.</li>
      <li><b>Förvara tändare och tändstickor oåtkomligt för barn.</b>
        <br>Lär dem vad de ska göra om de hittar sånt hemma eller ute.</li>
      <li><b>Elda med torr ved och rätt teknik.</b>
        <br>Se även till att följa sotningsschema och råd från sotaren.</li>
    </ul>
    <h3>Utbilda hela familjen.</h3>
    <p>Alla i hushållet, även barnen, bör ha grundläggande kunskaper i brandsäkerhet. Ett barn som vet var brandsläckaren finns och hur man använder den kan ibland hinna snabbare än om barnet ska leta upp en vuxen som kan komma till platsen. Detta kan göra stor skillnad i en akut situation.<br></p>
    <p>Som vuxen har du alltid huvudansvaret vid en brand, men barn bör veta hur de ska agera:<br>
      <b>- Hur man larmar 112.</b><br>
      <b>- Hur man snabbast tar sig ut oavsett var man befinner sig</b> (och att det i nödfall är tillåtet att förstöra saker för att rädda sitt eller någon annans liv, tex fönster).<br>
      <b>- Vad man absolut inte ska göra</b> (t.ex. gömma sig, slänga vatten på brinnande olja eller fett, eller försöka släcka med vatten om det är en elektrisk brand).<br></p>
    <p><b>Regelbundna brandövningar hemma stärker tryggheten och förmågan att agera snabbt.</b></p>
  </div>
  <p><i>Sidan uppdaterad: 2025-05-12</i></p>
</div>


