<div id="about">
  <h1>Om Krisguiden</h1>
  <p>Krisguiden är skapad av Maria Jansson som en del av kursen Mjukvaruutvecklingsprojekt 1DV613 på Linnéuniversitetet. Kursen gick under våren 2025 och var sluttampen på första läsåret för programmet Webbprogrammerare.</p>
  <p>Syftet med sidan är att tillhandahålla krisinformation till privatpersoner på ett sätt som är väldigt lätt att ta till sig, för att hjälpa till att främja krisberedskapen i samhället och öka tillgängligheten till livsviktig information.</p>
</div>