<div id="home-page">
  <h1>
    Välkommen till Krisguiden.
  </h1>
  <h2>
    Här hittar du information om kriser, både i förberedande och akut syfte.
  </h2>
  <p>Om du registrerar dig på sidan (under <a href="konto"><b>Konto</b></a>) hittar du även checklistor som du kan använda för att hålla koll på om du har det som krävs för att klara av en kris hemma.</p>
  <div id="view-buttons">
    <a href="redo" class="view-button">
      <img src="images/preparation.png" alt="En tecknad bild av en checklista med en penna">
      <span class="alt-text">Förbered dig</span>
    </a>
    <a href="akut" class="view-button">
      <img src="images/first-aid-kit.png" alt="En tecknad bild av en första hjälpen-låda">
      <span class="alt-text">AKUT LÄGE</span>
    </a>
    <p class="view-button-labels">Förbered dig</p>
    <p class="view-button-labels">AKUT LÄGE</p>
  </div>
  <h1 class="contact-SOS">Vid livsfara kontakta genast 112!</h1>
</div>