<div id="sources">
  <h1>Källor</h1>
  <h2>Information:</h2>
  <ul>
    <li><a href="https://www.msb.se/">Myndigheten för samhällsskydd och beredskap</a></li>
    <li><a href="https://www.krisinformation.se/">Krisinformation.se</a></li>
  </ul>
  <h2>Ikoner:</h2>
  <ul>
    <li><a target="_blank" href="https://icons8.com">Icons8</a></li>
    <li><a href="https://www.flaticon.com/free-icons/rain" title="rain icons">Rain icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/fire" title="fire icons">Fire icons created by Bahu Icons - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/flood" title="flood icons">Flood icons created by Freepik - Flaticon</a></li>
    <li><a href="https://www.flaticon.com/free-icons/power-outage" title="power outage icons">Power outage icons created by IconBaandar - Flaticon</a></li>
  </ul>
</div>